<div class="sideMenuPart" id="NexaRpc-nav-submenu" pageId="NexaRpc::////PointingToDeclaration//923568686">
  <div class="overview"><span class="navButton" onclick="document.getElementById(&quot;NexaRpc-nav-submenu&quot;).classList.toggle(&quot;hidden&quot;);"><span class="navButtonContent"></span></span><a href="index.html"><span>Nexa</span><wbr></wbr><span><span>Rpc</span></span></a></div>
  <div class="sideMenuPart" id="NexaRpc-nav-submenu-0" pageId="NexaRpc::org.nexa.NexaRpc////PointingToDeclaration//923568686">
    <div class="overview"><span class="navButton" onclick="document.getElementById(&quot;NexaRpc-nav-submenu-0&quot;).classList.toggle(&quot;hidden&quot;);"><span class="navButtonContent"></span></span><a href="-nexa-rpc/org.nexa.NexaRpc/index.html"><span>org.</span><wbr></wbr><span>nexa.</span><wbr></wbr><span>NexaRpc</span></a></div>
    <div class="sideMenuPart" id="NexaRpc-nav-submenu-0-0" pageId="NexaRpc::org.nexa.NexaRpc//fromHex/kotlin.String#/PointingToDeclaration//923568686">
      <div class="overview"><a href="-nexa-rpc/org.nexa.NexaRpc/from-hex.html"><span class="nav-link-grid"><span class="nav-link-child nav-icon function"></span><span class="nav-link-child"><span>from</span><wbr></wbr><span><span>Hex()</span></span></span></span></a></div>
    </div>
    <div class="sideMenuPart" id="NexaRpc-nav-submenu-0-1" pageId="NexaRpc::org.nexa.NexaRpc/HashId///PointingToDeclaration//923568686">
      <div class="overview"><a href="-nexa-rpc/org.nexa.NexaRpc/-hash-id/index.html"><span class="nav-link-grid"><span class="nav-link-child nav-icon class-kt"></span><span class="nav-link-child"><span>Hash</span><wbr></wbr><span><span>Id</span></span></span></span></a></div>
    </div>
    <div class="sideMenuPart" id="NexaRpc-nav-submenu-0-2" pageId="NexaRpc::org.nexa.NexaRpc/JvmNexaRpc///PointingToDeclaration//923568686">
      <div class="overview"><a href="-nexa-rpc/org.nexa.NexaRpc/-jvm-nexa-rpc/index.html"><span class="nav-link-grid"><span class="nav-link-child nav-icon class-kt"></span><span class="nav-link-child"><span>Jvm</span><wbr></wbr><span>Nexa</span><wbr></wbr><span><span>Rpc</span></span></span></span></a></div>
    </div>
    <div class="sideMenuPart" id="NexaRpc-nav-submenu-0-3" pageId="NexaRpc::org.nexa.NexaRpc/NexaRpc///PointingToDeclaration//923568686">
      <div class="overview"><span class="navButton" onclick="document.getElementById(&quot;NexaRpc-nav-submenu-0-3&quot;).classList.toggle(&quot;hidden&quot;);"><span class="navButtonContent"></span></span><a href="-nexa-rpc/org.nexa.NexaRpc/-nexa-rpc/index.html"><span class="nav-link-grid"><span class="nav-link-child nav-icon interface-kt"></span><span class="nav-link-child"><span>Nexa</span><wbr></wbr><span><span>Rpc</span></span></span></span></a></div>
      <div class="sideMenuPart" id="NexaRpc-nav-submenu-0-3-0" pageId="NexaRpc::org.nexa.NexaRpc/NexaRpc.BchMemPoolInfo///PointingToDeclaration//923568686">
        <div class="overview"><a href="-nexa-rpc/org.nexa.NexaRpc/-nexa-rpc/-bch-mem-pool-info/index.html"><span class="nav-link-grid"><span class="nav-link-child nav-icon class-kt"></span><span class="nav-link-child"><span>Bch</span><wbr></wbr><span>Mem</span><wbr></wbr><span>Pool</span><wbr></wbr><span><span>Info</span></span></span></span></a></div>
      </div>
      <div class="sideMenuPart" id="NexaRpc-nav-submenu-0-3-1" pageId="NexaRpc::org.nexa.NexaRpc/NexaRpc.BlockInfo///PointingToDeclaration//923568686">
        <div class="overview"><a href="-nexa-rpc/org.nexa.NexaRpc/-nexa-rpc/-block-info/index.html"><span class="nav-link-grid"><span class="nav-link-child nav-icon class-kt"></span><span class="nav-link-child"><span>Block</span><wbr></wbr><span><span>Info</span></span></span></span></a></div>
      </div>
      <div class="sideMenuPart" id="NexaRpc-nav-submenu-0-3-2" pageId="NexaRpc::org.nexa.NexaRpc/NexaRpc.PeerInfo///PointingToDeclaration//923568686">
        <div class="overview"><a href="-nexa-rpc/org.nexa.NexaRpc/-nexa-rpc/-peer-info/index.html"><span class="nav-link-grid"><span class="nav-link-child nav-icon class-kt"></span><span class="nav-link-child"><span>Peer</span><wbr></wbr><span><span>Info</span></span></span></span></a></div>
      </div>
      <div class="sideMenuPart" id="NexaRpc-nav-submenu-0-3-3" pageId="NexaRpc::org.nexa.NexaRpc/NexaRpc.TransactionInfo///PointingToDeclaration//923568686">
        <div class="overview"><a href="-nexa-rpc/org.nexa.NexaRpc/-nexa-rpc/-transaction-info/index.html"><span class="nav-link-grid"><span class="nav-link-child nav-icon class-kt"></span><span class="nav-link-child"><span>Transaction</span><wbr></wbr><span><span>Info</span></span></span></span></a></div>
      </div>
      <div class="sideMenuPart" id="NexaRpc-nav-submenu-0-3-4" pageId="NexaRpc::org.nexa.NexaRpc/NexaRpc.TxDetail///PointingToDeclaration//923568686">
        <div class="overview"><a href="-nexa-rpc/org.nexa.NexaRpc/-nexa-rpc/-tx-detail/index.html"><span class="nav-link-grid"><span class="nav-link-child nav-icon class-kt"></span><span class="nav-link-child"><span>Tx</span><wbr></wbr><span><span>Detail</span></span></span></span></a></div>
      </div>
      <div class="sideMenuPart" id="NexaRpc-nav-submenu-0-3-5" pageId="NexaRpc::org.nexa.NexaRpc/NexaRpc.TxPoolInfo///PointingToDeclaration//923568686">
        <div class="overview"><a href="-nexa-rpc/org.nexa.NexaRpc/-nexa-rpc/-tx-pool-info/index.html"><span class="nav-link-grid"><span class="nav-link-child nav-icon class-kt"></span><span class="nav-link-child"><span>Tx</span><wbr></wbr><span>Pool</span><wbr></wbr><span><span>Info</span></span></span></span></a></div>
      </div>
      <div class="sideMenuPart" id="NexaRpc-nav-submenu-0-3-6" pageId="NexaRpc::org.nexa.NexaRpc/NexaRpc.Unspent///PointingToDeclaration//923568686">
        <div class="overview"><a href="-nexa-rpc/org.nexa.NexaRpc/-nexa-rpc/-unspent/index.html"><span class="nav-link-grid"><span class="nav-link-child nav-icon class-kt"></span><span class="nav-link-child"><span><span>Unspent</span></span></span></span></a></div>
      </div>
      <div class="sideMenuPart" id="NexaRpc-nav-submenu-0-3-7" pageId="NexaRpc::org.nexa.NexaRpc/NexaRpc.WalletInfo///PointingToDeclaration//923568686">
        <div class="overview"><a href="-nexa-rpc/org.nexa.NexaRpc/-nexa-rpc/-wallet-info/index.html"><span class="nav-link-grid"><span class="nav-link-child nav-icon class-kt"></span><span class="nav-link-child"><span>Wallet</span><wbr></wbr><span><span>Info</span></span></span></span></a></div>
      </div>
    </div>
    <div class="sideMenuPart" id="NexaRpc-nav-submenu-0-4" pageId="NexaRpc::org.nexa.NexaRpc/NexaRpcException///PointingToDeclaration//923568686">
      <div class="overview"><a href="-nexa-rpc/org.nexa.NexaRpc/-nexa-rpc-exception/index.html"><span class="nav-link-grid"><span class="nav-link-child nav-icon exception-class"></span><span class="nav-link-child"><span>Nexa</span><wbr></wbr><span>Rpc</span><wbr></wbr><span><span>Exception</span></span></span></span></a></div>
    </div>
    <div class="sideMenuPart" id="NexaRpc-nav-submenu-0-5" pageId="NexaRpc::org.nexa.NexaRpc/NexaRpcFactory///PointingToDeclaration//923568686">
      <div class="overview"><a href="-nexa-rpc/org.nexa.NexaRpc/-nexa-rpc-factory/index.html"><span class="nav-link-grid"><span class="nav-link-child nav-icon object"></span><span class="nav-link-child"><span>Nexa</span><wbr></wbr><span>Rpc</span><wbr></wbr><span><span>Factory</span></span></span></span></a></div>
    </div>
    <div class="sideMenuPart" id="NexaRpc-nav-submenu-0-6" pageId="NexaRpc::org.nexa.NexaRpc//toHex/kotlin.ByteArray#/PointingToDeclaration//923568686">
      <div class="overview"><a href="-nexa-rpc/org.nexa.NexaRpc/to-hex.html"><span class="nav-link-grid"><span class="nav-link-child nav-icon function"></span><span class="nav-link-child"><span>to</span><wbr></wbr><span><span>Hex()</span></span></span></span></a></div>
    </div>
    <div class="sideMenuPart" id="NexaRpc-nav-submenu-0-7" pageId="NexaRpc::org.nexa.NexaRpc//toUint/kotlin.Byte#/PointingToDeclaration//923568686">
      <div class="overview"><a href="-nexa-rpc/org.nexa.NexaRpc/to-uint.html"><span class="nav-link-grid"><span class="nav-link-child nav-icon function"></span><span class="nav-link-child"><span>to</span><wbr></wbr><span><span>Uint()</span></span></span></span></a></div>
    </div>
  </div>
</div>

